{% extends 'main/base.html' %}


{% block title %} Add Review {% endblock %}

{% block content %}


<div class="row mt-4">
    <div class="col-6">

        {% if request.user.is_authenticated %}

        <form action="{% url 'companies:add_Review_view' company.id %}" method="post" >
            {% csrf_token %}

            <label>Experience: </label>
            <select name="experience" class="form-select" >
                {% for value, title in review.experience_choices %}
                    <option value="{{value}}">{{title}}</option>
                {% endfor %}
            </select>
            <label class="form-label" >Position:</label>
            <input type="text" name="position" class="form-control">
            <label class="form-label">Description:</label>
            <textarea class="form-control" name="description"></textarea>
            <label class="form-label">Rate your experience:</label>
            <div class="rate"style="color: #f9c448;">
                <input type="radio" name="rating" id="rating5" value="5" /><label for="rating5" title="5" class="fa fa-star"> 5 </label>
                <input type="radio" name="rating" id="rating4" value="4"/><label for="rating4" title="4" class="fa fa-star"> 4 </label>
                <input type="radio" name="rating" id="rating3" value="3"/><label for="rating3" title="3" class="fa fa-star"> 3 </label>
                <input type="radio" name="rating" id="rating2" value="2"/><label for="rating2" title="2" class="fa fa-star"> 2 </label>
                <input type="radio" name="rating" id="rating1" value="1"/><label for="rating1" title="1" class="fa fa-star"> 1 </label>
            </div>

            <!--<select name="rating" class="form-select" >
                {% for value, title in review.rating_choices %}
                    <option value="{{value}}">{{title}}</option>
                {% endfor %}
            </select>-->

       
            <button type="submit" class="btn btn-secondary" >Add Review</button>

        </form>

        {% else %}

        <div class="p-4">
            <h5>To comment, Please <a href="{% url 'account:login_user_view' %}"class="text-decoration-none"style="color: #3a7020;">sign in</a> , or <a href="{% url 'account:register_user_view' %}" class="text-decoration-none"style="color: #3a7020;">sign up</a> </h5>
        </div>

        {% endif %}

    </div>
</div>

{% endblock %}
