{% extends 'main/base.html' %}


{% block title %} All reports  {% endblock %}

{% block content %}

<div class="row gap-4 m-1">
    {% for report in reports %}
    <div class="card col-4 mt-4" style="width: 18rem; background-color: rgb(92, 84, 112); color:rgb(250, 240, 230) ;">
        <div class="card-body">
            <h5 class="card-title pb-2">{{ report.review.company.name }}</h5>
            <h5 class="card-title pb-2">{{ report.review.description }}</h5>
            <p class="card-text"> {{ report.user }}</p>
            <a href="{% url 'companies:company_detail_view' report.review.company.id %}" class="btn" style="background-color: rgb(250, 240, 230); color:rgb(92, 84, 112) ;">Read more</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}