{% extends 'main/base.html' %}


{% block title %} All reports  {% endblock %}

{% block content %}

<style>
    body{
        direction: rtl;
        background-color: rgb(217,196,170);
    }
    .card{
        margin-top: 25px;
    }
    h1,h2,h3,h4,h5,h6,p{
      color: #30334B;
    
    
    }
    .btn{
        border-color: #466A8B;
      color: #466A8B;
      text-align: end;
    }
    .btn-color{
    background-color:#466A8B ;
    border-color: #466A8B;
    color: white;
    text-align: end;
}
</style>
    
 <div class="container">
    <div class="row align-items-end row-cols-2 row-cols-md-3 g-4">
        {% for report in reports %}
        <div class="col-sm-3 mb-3 mb-sm-0 ml-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">اسم الشركة : {{ report.review.company.name }}</h5>
                  <p class="card-text">>محتوى التجربة : {{ report.review.description }}</p>
                  <p class="card-text">اسم المبلغ : {{ report.user }}</p>
                  <a href="{% url 'companies:company_detail_view' report.review.company.id %}" class="btn ">المريد</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<a href="{% url 'companies:dashbord_view' request.user.id %}" class="btn btn-color mt-4 ">سابق</a>
{% endblock %}