{% extends 'main/base.html' %}


{% block title %} All reports  {% endblock %}

{% block content %}

<style>
    body{
        direction: rtl;
        background-color: rgb(217,196,170);
    }
    .card{
        margin-top: 25px;
    }
    h1,h2,h3,h4,h5,h6,p{
      color: #30334B;
    
    
    }
    .btn{
        border-color: #466A8B;
      color: #466A8B;
      text-align: end;
    }
</style>
    
   
<div class="row">
    {% for report in reports %}
    <div class="col">
        <div class="card mb-3 border border-2 " style="width: 340px;">
            <div class="card-body ">
                <h5 class="card-title">اسم الشركة : {{ report.review.company.name }}</h5>
                <p class="card-text">محتوى التجربة : {{ report.review.description }}</p>
                <p class="card-text">اسم المبلغ : {{ report.user }}</p>
                <div  class="text-start">
                    <a href="{% url 'companies:company_detail_view' report.review.company.id %}" class="btn ">more</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}