{% extends 'main/base.html' %}

{% block title %} Details {{ company.name }} {% endblock %}

{% block content %}
{% if "msg" in  request.GET %}
<div class="alert alert-dismissible fade show"
    style="background-color: rgb(92, 84, 112); color:  rgb(250, 240, 230);" role="alert">
    <strong>{{request.GET.msg}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
<div class="d-flex flex-column gap-2">
  <h1>{{ company.name }}</h1>
  <div class="d-flex justify-content-end">

    {% if request.user.is_staff %}
    <div>
      <a href="{% url 'companies:company_update_view' company.id %}" class="btn btn-warning">Update</a>
      <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
    </div>
    {% endif %}
    {% if company.approved == False %}
    <div>
      <form action="{% url 'companies:company_detail_view' company.id %}" method="post">
        {% csrf_token %}
        <button type="submit" name="approved" value=True class="btn"
          style="background-color: rgb(250, 240, 230); color:rgb(92, 84, 112) ;">Approve</button>
      </form>
    </div>
    {% endif %}

  </div>

  <div class="row">
    <div class="col-4"><img src="{{ company.image.url }}" class="rounded-4 w-100" /></div>
    <div class="col">
      <div>
        <h3>{{company.info}}</h3>
        <p>{{ field.description }}</p>
        <p>{{ company.description }}</p>

      </div>
    </div>
  </div>

  <hr />


</div>


<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete company</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete <span class="fw-bold">{{company.name}}</span> ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a href="{% url 'companies:company_delete_view' company.id %}" class="btn btn-danger">Yes, Delete!</a>
      </div>
    </div>
  </div>
</div>

<!-- End  Modal -->


<!--company reviews-->
<hr />

<h4>Reviews ( {{ company.review_set.count }} )</h4>
<div class="mt-4">
  {% for review in reviews %}
  <div class="d-flex flex-column gap-1 border border-1 rounded p-4 mt-3">
    <h4>{{review.user.first_name}}</h4>
    <h6><a
        href="{% if review.is_favored  %}{% url 'companies:remove_favorite_view' review.id  %}{% else %}{% url 'companies:add_favorite_view' review.id  %}{% endif %}"
        class="{% if review.is_favored %} text-danger {% endif%}"><span class="material-symbols-outlined">favorite </span></a> {{ review.favorite_set.count }}
    </h6>
    <h6><a href="{% url 'companies:report_view' review.id  %}" class="text-danger"> 
      <span class="material-symbols-outlined">
        flag
        </span></a>
    </h6>
    <h6>{{ review.publish_date }}</h6>
    <p>{{review.experience}}</p>
    <h3>{{ review.position }}</h3>
    <h6>{{ review.description }}</h6>
    <div style="color: #f9c448;">
      {% if review.rating == 1 %}
      <span class="fa fa-star fa-2x"></span>
      {% elif review.rating == 2 %}
      <span class="fa fa-star fa-2x"></span>
      <span class="fa fa-star fa-2x"></span>
      {% elif review.rating == 3 %}
      <span class="fa fa-star fa-2x"></span>
      <span class="fa fa-star fa-2x"></span>
      <span class="fa fa-star fa-2x"></span>
      {% elif review.rating == 4 %}
      <span class="fa fa-star fa-2x"></span>
      <span class="fa fa-star fa-2x"></span>
      <span class="fa fa-star fa-2x"></span>
      <span class="fa fa-star fa-2x"></span>
      {% elif review.rating == 5 %}
      <span class="fa fa-star fa-2x"></span>
      <span class="fa fa-star fa-2x"></span>
      <span class="fa fa-star fa-2x"></span>
      <span class="fa fa-star fa-2x"></span>
      <span class="fa fa-star fa-2x"></span>
      {% endif %} 
  </div>
    {% if request.user.id == review.user.id or request.user.is_staff %}
    <button type="button" class="btn btn-danger" data-bs-toggle="modal"
      data-bs-target="#deleteReviewModal{{review.id}}">Delete</button>
    <a href="{% url 'companies:review_update_view' review.id %}?id={{company.id}}" class="btn btn-warning">Update reviews
      {{review.id}}</a>
    {% endif %}
  </div>
  <!-- for reviw -->
  {% if request.user.id == review.user.id or request.user.is_staff %}
  <div class="modal fade" id="deleteReviewModal{{review.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Review</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete <span class="fw-bold">{{company.name}}</span> ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <a href="{% url 'companies:review_delete_view' review.id %}" class="btn btn-danger">Yes, Delete!</a>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  {% endfor %}
</div>

<div class="row justify-content-center">
  <div class="col-md-6">
    {% if request.user.is_authenticated %}
    <a href="{% url 'companies:add_Review_view' company.id %}" class="btn btn-warning">Adding reviews {{company.id}}</a>


    {% else %}
    <div class="p-4">
      <h5>To add review, Please <a href="{% url 'accounts:login_user_view' %}">sign in</a> , or <a
          href="{% url 'accounts:register_user_view' %}">sign up</a> </h5>
    </div>

    {% endif %}
  </div>
</div>



{% endblock %}