{% extends 'main/base.html' %}

{% block title %} Details {{ company.name }} {% endblock %}

{% block content %}
<div class="d-flex flex-column gap-2">
    <h1>{{  company.name }}</h1>
    <div class="d-flex justify-content-end">
     
        <div>
            <a href="{% url 'companies:company_update_view' company.id %}" class="btn btn-warning">Update</a>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
            <form action="{% url 'companies:company_detail_view' company.id %}" method="post">
                {% csrf_token %}
                <button type="submit" name="approved" value=True class="btn"
                    style="background-color: rgb(250, 240, 230); color:rgb(92, 84, 112) ;">Approve</button>
            </form>
        </div>
      
    </div>

    <div class="row">
        <div class="col-4"><img src="{{ company.image.url }}" class="rounded-4 w-100" /></div>
        <div class="col">
            <div>
                <h3>{{company.info}}</h3>
                <p>{{ field.description }}</p>
                <p>{{ company.description }}</p>
                
            </div>
        </div>
    </div>

    <hr />

    
</div>



{% endblock %}