{% extends 'main/base.html' %}


{% block title %} Dashboard {% endblock %}

{% block content %}
<style>
body{
    direction: rtl;
    background-color: rgb(217,196,170);
}
.dashboard {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 50% 50%;
  height: calc(100vh - 110px);
  margin-top: 15%;
  justify-content: space-between;
}
.dashboard .main {
  grid-row: 1 / span 1;
 
}
.dashboard .description {
    grid-row: 1 / span 1;
}
.dashboard .stat {
    grid-row: 1 / span 1;
}
.dashboard-card {
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 25px;
  margin: 10px;
  padding-top: 0px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 992px) {
  .dashboard {
    display: block;
  }
}

/* Fonts and colors */
.dashboard h2 {
    color: #30334B;
  font-size: 20px;
}
.dashboard h3 {
  color: #30334B;
  font-size: 25px;
  margin-bottom: 15px;

}
.dashboard p {
    color: #30334B;
  font-size: 16px;
}
.dashboard img {
  border-radius: 50%;
 
}
.main p {
  margin-bottom: 30px;
}
.btn{
    border-color: #466A8B;
  color: #466A8B;
}


</style>

<div class="container justify-content-center">
  
    <div class="dashboard">
        <div class="dashboard-card main">
            <div class="dashboard-card-content">
                <p> add pro logo</p>
                <h2>اسم المستخدم : {{profile.user.username}}</h2>
                <p>ايميل المستخدم : {{profile.user.email}}</p>
            </div>
        </div>
        <div class="dashboard-card stat ">
            <div class="dashboard-card-content">
                <h3 class="text-center">طلبات إضافة شركات</h3>
                <a  href="{% url 'companies:approve_company_view' %}" class="btn ">شركات بالانتظار الاضافة</a>
              </div>
        </div>
       
        <div class="dashboard-card description">
            <div class="dashboard-card-content">
              <h3 class="text-center"> بلاغات </h3>
              <a  href="{% url 'companies:all_report_view' %}" class="btn " >بلاغات المستخدمين  </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}