<style>
body{
    direction: rtl;
}
.dashboard {
  display: grid;
  grid-template-columns: 300px 1fr 1fr 1fr;
  grid-template-rows: 50% 50%;
  height: calc(100vh - 110px);
  margin-top: 20px;
}
.dashboard .main {
  grid-row: 1 / span 2;
  grid-column: 1 / span 1;
}
.dashboard .description {
  grid-row: 2 / span 1;
  grid-column: 2 / span 3;
}
.dashboard-card {
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 10px;
  margin: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media (max-width: 992px) {
  .dashboard {
    display: block;
  }
}

/* Fonts and colors */
.dashboard h2 {
  font-size: 20px;
}
.dashboard h3 {
  color: #37B686;
  font-size: 25px;
  margin-bottom: 15px;
}
.dashboard p {
  color: rgba(0,0,0,0.5);
  font-size: 16px;
}
.dashboard img {
  border-radius: 50%;
 
}
.dashboard .btn {
  border-radius: 5px;
  border: none;
  width: 100%;
  margin-top: 30px;
  background: #37B686;
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 15px 20px;
}
.dashboard .btn:hover {
  background: #37B686;
  opacity: 0.7;
}
.main p {
  margin-bottom: 30px;
}

</style>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="#"> DASHBOARD</a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
  
      <div class="container">
  
        <div class="dashboard">
          <div class="dashboard-card main">
            <div class="dashboard-card-content">
              <img src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80" alt="" width="100" class="img-circle">
              <h2>Benjamin Terrier</h2>
              <p>CTO at "La Source"</p>
              <a href="#" class="btn btn-primary btn-lg">GET IN TOUCH</a>
            </div>
          </div>
          <div class="dashboard-card stat">
            <div class="dashboard-card-content">
              <h3>3,536</h3>
              <p>contributions</p>
            </div>
          </div>
          <div class="dashboard-card stat">
            <div class="dashboard-card-content">
              <h3>758</h3>
              <p>followers</p>
            </div>
          </div>
          <div class="dashboard-card stat">
            <div class="dashboard-card-content">
              <h3>119</h3>
              <p>repositories</p>
            </div>
          </div>
          <div class="dashboard-card description">
            <div class="dashboard-card-content">
              <h3>More about Benjamin</h3>
              <p class="text-justify">
                I am a full-stack developer with 9 years of experience working in startups.
              </p>
            </div>
          </div>
        </div>
      </div>