{% extends 'main/base.html' %}
{%load static %}

{% block title %} home {% endblock %}


{% block content %}
<link href="https://fonts.googleapis.com/css2?family=Markazi+Text&family=Noto+Naskh+Arabic:wght@500&family=Readex+Pro:wght@300&display=swap" rel="stylesheet">
<style>
 body{
  font-family: 'Markazi Text', serif;
 }
    @import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900);
    .contact-form {
      margin-top: 30px;
    }
    .contact-form .input-block {
      background-color: rgba(255, 255, 255, 0.8);
      border: solid 1px #466A8B;
      width: 100%;
      height: 60px;
      padding: 25px;
      position: relative;
      margin-bottom: 20px;
      -moz-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      -webkit-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
    }
    .contact-form .input-block.focus {
      background-color: #fff;
      border: solid 1px #466A8B;
    }
    .contact-form .input-block.textarea {
      height: auto;
    }
    .contact-form .input-block.textarea .form-control {
      height: auto;
      resize: none;
    }
    .contact-form .input-block label {
      position: absolute;
      left: 25px;
      top: 25px;
      display: block;
      margin: 0;
      font-weight: 300;
      z-index: 1;
      color: #333;
      font-size: 18px;
      line-height: 10px;
    }
    .contact-form .input-block .form-control {
      background-color: transparent;
      padding: 0;
      border: none;
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      border-radius: 0;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      height: auto;
      position: relative;
      z-index: 2;
      font-size: 18px;
      color: #333;
    }
    .contact-form .input-block .form-control:focus label {
      top: 0;
    }
    .contact-form .square-button {
      background-color: rgba(255, 255, 255, 0.8);
      color: #466A8B;
      font-size: 26px;
      text-transform: uppercase;
      font-weight: 700;
      text-align: center;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      border-radius: 2px;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      padding: 0 60px;
      height: 60px;
      border: none;
      width: 100%;
    }
    .contact-form .square-button:hover, .contact-form .square-button:focus {
      background-color: white;
    }
    
    @media (min-width: 768px) {
      .contact-wrap {
        width: 60%;
        margin: auto;
      }
    }
    /*----page styles---*/
    body {
      background-color: #D9C4AA;
    }
    
    .contact-wrap {
      padding: 15px;
    }
    
    h1 {
      background-color: white;
      color: #466A8B;
      padding: 40px;
      margin: 0 0 30px;
      font-size: 30px;
      text-transform: uppercase;
      font-weight: 700;
      text-align: center;
    }
    .home{
      font-size: large;
    }
    #name{
      font-size: 50px;
      
    }
   .homecontent{
    font-size: 35px;
   }
   .img{
width: 300px;
height: auto;
   }
   #homepage{
    margin-top: 10%;
    height: 100vh;
   }
   .btn-3 {
  background: #466A8B;
  background: linear-gradient(0deg, #466A8B 0%, #466A8B 100%);
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  
}
.btn-3 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-3:before,
.btn-3:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
   background: #466A8B;
  transition: all 0.3s ease;
}
.btn-3:before {
  height: 0%;
  width: 2px;
}
.btn-3:after {
  width: 0%;
  height: 2px;
}
.btn-3:hover{
  background: transparent;
  box-shadow: none;
}
.btn-3:hover:before {
  height: 100%;
}
.btn-3:hover:after {
  width: 100%;
}
.btn-3 span:hover{
   color: rgba(2,126,251,1);
}
.btn-3 span:before,
.btn-3 span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: #466A8B;
  transition: all 0.3s ease;
}
.btn-3 span:before {
  width: 2px;
  height: 0%;
}
.btn-3 span:after {
  width: 0%;
  height: 2px;
}
.btn-3 span:hover:before {
  height: 100%;
}
.btn-3 span:hover:after {
  width: 100%;
}
.custom-btn {
  width: 130px;
  height: 60px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-weight: 500;
  font-size: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
  display: inline-block;
}

</style>
<section id="homepage">
<div class="row pt-4">
    <div class=" col-6 home">
        <div class="d-flex flex-row  align-items-center ">
            <p class="homecontent"> <span id="name" > مراة الوظائف</span> لمساعدتك على اتخاذ قرارات مستنيرة حول أماكن العمل المحتملة وتوفير نظرة داخلية عن الشركات قبل الانضمام إليها</p>
          
          </div>

          <a id="explore" href="#" class="btn btn-3 custom-btn "> تصفح الشركات</a>  
          <a href="{% url 'main:about_view' %}" class="btn btn-3 custom-btn">اعرف اكثر</a>  
          <div class="row">
              </div>
        </div>
        
<div class="col">
  <img src="{%static 'images/home.png'%}" class=" img">

</div>
    </div>
  </section>
<hr/>
<section></section>
<h1> Countant us </h1>
  <section class="contact-wrap">
    <form action="" class="contact-form">
      <div class="col-sm-12">
        <div class="input-block">
          <label for="">Your Name</label>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="col-sm-12">
        <div class="input-block">
          <label for="">Email</label>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="col-sm-12">
        <div class="input-block textarea">
          <label for="">Drop your message here</label>
          <textarea rows="3" type="text" class="form-control"></textarea>
        </div>
      </div>
      <div class="col-sm-12">
        <button class="square-button">Send</button>
      </div>
    </form>
  </section>
  
  

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{% static 'styles/index.js' %}" ></script>

{% endblock %}