{% extends 'main/base.html'%}


{% block title %} {{profile.user.username}} profile {% endblock %}

{% block content %}
{% if "msg" in  request.GET %}
<div class="alert alert-dismissible fade show"
    style="background-color: rgb(92, 84, 112); color:  rgb(250, 240, 230);" role="alert">
    <strong>{{request.GET.msg}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
{% for company  in request.user.company_set.all %}
    <div>
        <h2>{{ company.name }}</h2>
        {% if company.approved %}
            <p>Status: Approved</p>
        {% else %}
            <p>Status: Pending Approval</p>
        {% endif %}
    </div>
{% endfor %}

{% endblock %}