body{
  direction: rtl;
}
.navbar{
  background-color:#30334B ;
  color: rgb(255, 255, 255);
}
.navbar .container{
  color: aliceblue;
}
.u-section-3 {
    background-image: none;
    min-height: 1196px;
  }
  
  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 1140px) / 2) + 1140px);
    margin: 60px auto 0 0;
  }
  
  .u-section-3 .u-image-1 {
    background-image: url("images/mnm-min.png");
    min-height: 508px;
    background-position: 100% 50%;
    --animation-custom_in-translate_x: -300px;
    --animation-custom_in-translate_y: 0px;
  }
  
  .u-section-3 .u-container-layout-1 {
    padding: 0 30px 0 0;
  }
  
  .u-section-3 .u-layout-cell-2 {
    min-height: 508px;
  }
  
  .u-section-3 .u-container-layout-2 {
    padding: 30px;
  }
  
  .u-section-3 .u-layout-wrap-2 {
    width: 948px;
    margin: 28px auto 60px calc(((100% - 1140px) / 2));
  }
  
  .u-section-3 .u-layout-cell-3 {
    min-height: 206px;
    --animation-custom_in-translate_x: -300px;
    --animation-custom_in-translate_y: 0px;
  }
  
  .u-section-3 .u-container-layout-3 {
    padding: 30px 0;
  }
  
  .u-section-3 .u-text-1 {
    font-size: 6rem;
    font-weight: 700;
    margin: 0 auto 0 0;
  }
  
  .u-section-3 .u-layout-cell-4 {
    min-height: 206px;
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
  }
  
  .u-section-3 .u-container-layout-4 {
    padding: 30px 0 30px 30px;
  }
  
  .u-section-3 .u-text-2 {
    margin: 0;
  }
  
  .u-section-3 .u-text-3 {
    font-size: 1rem;
    letter-spacing: 0px;
    background-image: none;
    margin: 20px auto 0 0;
  }
  
  .u-section-3 .u-btn-1 {
    padding: 0;
  }
  
  .u-section-3 .u-layout-cell-5 {
    min-height: 245px;
    --animation-custom_in-translate_x: -300px;
    --animation-custom_in-translate_y: 0px;
  }
  
  .u-section-3 .u-container-layout-5 {
    padding: 30px 30px 28px 0;
  }
  
  .u-section-3 .u-text-4 {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 2.2;
    margin: 0;
  }
  
  .u-section-3 .u-layout-cell-6 {
    min-height: 245px;
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-scale: 0.66;
  }
  
  .u-section-3 .u-container-layout-6 {
    padding: 30px;
  }
  
  .u-section-3 .u-text-5 {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 2.2;
    margin: 0 20px 0 0;
  }
  
  @media (max-width: 1199px) {
     .u-section-3 {
      min-height: 1103px;
    }
  
    .u-section-3 .u-layout-wrap-1 {
      width: calc(((100% - 940px) / 2) + 940px);
    }
  
    .u-section-3 .u-image-1 {
      min-height: 419px;
      --animation-custom_in-opacity: 0;
      --animation-custom_in-rotate: 0deg;
      --animation-custom_in-scale: 1;
    }
  
    .u-section-3 .u-layout-cell-2 {
      min-height: 419px;
    }
  
    .u-section-3 .u-layout-wrap-2 {
      width: 940px;
      margin-left: calc(((100% - 940px) / 2));
    }
  
    .u-section-3 .u-layout-cell-3 {
      min-height: 204px;
      --animation-custom_in-opacity: 0;
      --animation-custom_in-rotate: 0deg;
      --animation-custom_in-scale: 1;
    }
  
    .u-section-3 .u-layout-cell-4 {
      min-height: 204px;
      --animation-custom_in-opacity: 0;
      --animation-custom_in-rotate: 0deg;
      --animation-custom_in-scale: 1;
    }
  
    .u-section-3 .u-layout-cell-5 {
      min-height: 243px;
      --animation-custom_in-opacity: 0;
      --animation-custom_in-rotate: 0deg;
      --animation-custom_in-scale: 1;
    }
  
    .u-section-3 .u-layout-cell-6 {
      min-height: 243px;
      --animation-custom_in-translate_x: 0px;
      --animation-custom_in-opacity: 0;
      --animation-custom_in-rotate: 0deg;
      --animation-custom_in-scale: 0.3;
    }
  
    .u-section-3 .u-text-5 {
      margin-right: 16px;
    }
  }
  
  @media (max-width: 991px) {
     .u-section-3 {
      min-height: 758px;
    }
  
    .u-section-3 .u-layout-wrap-1 {
      width: calc(((100% - 720px) / 2) + 720px);
    }
  
    .u-section-3 .u-image-1 {
      min-height: 321px;
    }
  
    .u-section-3 .u-layout-cell-2 {
      min-height: 321px;
    }
  
    .u-section-3 .u-layout-wrap-2 {
      width: 720px;
      margin-left: calc(((100% - 720px) / 2));
    }
  
    .u-section-3 .u-layout-cell-3 {
      min-height: 100px;
    }
  
    .u-section-3 .u-layout-cell-4 {
      min-height: 100px;
    }
  
    .u-section-3 .u-layout-cell-5 {
      min-height: 100px;
    }
  
    .u-section-3 .u-layout-cell-6 {
      min-height: 100px;
    }
  
    .u-section-3 .u-text-5 {
      margin-right: 0;
    }
  }
  
  @media (max-width: 767px) {
     .u-section-3 {
      min-height: 1601px;
    }
  
    .u-section-3 .u-layout-wrap-1 {
      width: calc(((100% - 540px) / 2) + 540px);
    }
  
    .u-section-3 .u-image-1 {
      min-height: 466px;
    }
  
    .u-section-3 .u-container-layout-1 {
      padding-right: 10px;
    }
  
    .u-section-3 .u-layout-cell-2 {
      min-height: 498px;
    }
  
    .u-section-3 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-3 .u-layout-wrap-2 {
      width: 540px;
      margin-left: calc(((100% - 540px) / 2));
    }
  
    .u-section-3 .u-container-layout-3 {
      padding-left: 10px;
    }

    .u-section-3 .u-container-layout-4 {
      padding-left: 10px;
    }
  
    .u-section-3 .u-container-layout-5 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-3 .u-container-layout-6 {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  
  @media (max-width: 575px) 
     .u-section-3 {
      min-height: 1244px;
    }
  
    .u-section-3 .u-layout-wrap-1 {
      width: calc(((100% - 340px) / 2) + 340px);
    }
  
    .u-section-3 .u-image-1 {
      min-height: 293px;
    }
  
    .u-section-3 .u-layout-cell-2 {
      min-height: 314px;
    }
  
    .u-section-3 .u-layout-wrap-2 {
      width: 340px;
      margin-left: calc(((100% - 340px) / 2));
    }
  
    .u-section-3 .u-text-1 {
      font-size: 4.5rem;
    }
  /* nav bar*/
/* index.html*/

  body{
    font-family: 'Markazi Text', serif;
   }
      @import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900);
      .contact-form {
        margin-top: 30px;
      }
      .contact-form .input-block {
        background-color: rgba(255, 255, 255, 0.8);
        border: solid 1px #466A8B;
        width: 100%;
        height: 60px;
        padding: 25px;
        position: relative;
        margin-bottom: 20px;
        -moz-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
      }
      .contact-form .input-block.focus {
        background-color: #fff;
        border: solid 1px #466A8B;
      }
      .contact-form .input-block.textarea {
        height: auto;
      }
      .contact-form .input-block.textarea .form-control {
        height: auto;
        resize: none;
      }
      .contact-form .input-block label {
        position: absolute;
        left: 25px;
        top: 25px;
        display: block;
        margin: 0;
        font-weight: 300;
        z-index: 1;
        color: #333;
        font-size: 18px;
        line-height: 10px;
      }
      .contact-form .input-block .form-control {
        background-color: transparent;
        padding: 0;
        border: none;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        height: auto;
        position: relative;
        z-index: 2;
        font-size: 18px;
        color: #333;
      }
      .contact-form .input-block .form-control:focus label {
        top: 0;
      }
      .contact-form .square-button {
        background-color: rgba(255, 255, 255, 0.8);
        color: #466A8B;
        font-size: 26px;
        text-transform: uppercase;
        font-weight: 700;
        text-align: center;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        padding: 0 60px;
        height: 60px;
        border: none;
        width: 100%;
      }
      .contact-form .square-button:hover, .contact-form .square-button:focus {
        background-color: white;
      }
      
      @media (min-width: 768px) {
        .contact-wrap {
          width: 60%;
          margin: auto;
        }
      }
      /*----page styles---*/
      body {
        background-color: rgb(217, 196, 170);
      }
      .contact-wrap {
        padding: 15px;
      }
      h1 {
        background-color: white;
        color: #466A8B;
        padding: 40px;
        margin: 0 0 30px;
        font-size: 30px;
        text-transform: uppercase;
        font-weight: 700;
        text-align: center;
      }
      .home{
        font-size: large;
        margin-right: 33px;
      }
      #name{
        font-size: 50px;
        color:#fff;
      }
     .homecontent{
      font-size: 35px;
      margin-top: 8%;
     }
     .img{
        width: 300px;
        height: auto;
     }
     #homepage{
      margin-top: 10%;
      height: 100vh;
     }
     .btn-3 {
    background: #466A8B;
    background: linear-gradient(0deg, #466A8B 0%, #729bc2 100%);
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
  }
  .btn-3 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .btn-3:before,
  .btn-3:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
     background: #466A8B;
    transition: all 0.3s ease;
  }
  .btn-3:before {
    height: 0%;
    width: 2px;
  }
  .btn-3:after {
    width: 0%;
    height: 2px;
  }
  .btn-3:hover{
    background: transparent;
    box-shadow: none;
  }
  .btn-3:hover:before {
    height: 100%;
  }
  .btn-3:hover:after {
    width: 100%;
  }
  .custom-btn {
    width: 30%;
    margin-left: 5px;
    margin-top: 30px;
    height: 45px;
    border: 0;
    outline: 0;
    color: white;
    font-size: 25px;
    font-weight: 400;
    position: relative;
    z-index: 3;
    background: #466A8B;
    font-family: 'Markazi Text', serif;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  }
   .homepage{
    margin-right: 55px;
   }
   #about{
    height:100vh;
    background-color: #C49D78;
    padding: 30px;
   }
  .abouthome{
    width: 50%;
  }
  .aboutcontent{
    font-size: 30px;
    font-weight: 600;
  }
  #who{
    font-size: 90px;
    margin-left: 30% !important;
  }